@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-bold/RobotoBold.eot');
    src: url('../fonts/Roboto-bold/RobotoBold.woff') format('woff'),
         url('../fonts/Roboto-bold/RobotoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-light/RobotoLight.eot');
    src: url('../fonts/Roboto-light/RobotoLight.woff') format('woff'),
         url('../fonts/Roboto-light/RobotoLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-regular/RobotoRegular.eot');
    src: url('../fonts/Roboto-regular/RobotoRegular.woff') format('woff'),
         url('../fonts/Roboto-regular/RobotoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Semibold';
    src: url('../fonts/Roboto-semibold/RobotoMedium.eot');
    src: url('../fonts/Roboto-semibold/RobotoMedium.woff') format('woff'),
         url('../fonts/Roboto-semibold/RobotoMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
