// colors
$colorPrimary: #31DEE0;
$colorSecondary: #31B1B1;
$colorPrimaryHovered: #27B2B3;
$colorGradient: linear-gradient(180deg, #3B7F8A 0%, $colorPrimary 100%);
$colorBlack: #212121;
$colorGrey: #393939;
$colorLightGrey: #BFD8D8;
$colorWhite75op: rgba(255, 255, 255, 0.75);
$colorWhite50op: rgba(255, 255, 255, 0.5);
$colorSuccess: #2FF44D;
$colorError: #E6173E;
$colorWarning: #FCEB3B;



%pseudo
    content: ''
    position: absolute

%span_base
    width: 100%
    height: 2px
    background: #fff
    transition: all 0.3s
    backface-visibility: hidden
    border-radius: 2px
=display_flex_row
    display: flex
    flex-flow: row wrap
    justify-content: space-between


=display_flex_column
    display: flex
    flex-flow: column wrap
    justify-content: space-between

%center
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

%centered
    position: absolute
    left: 50%
    transform: translateX(-50%)

.container
    +display_flex_column
    align-items: center
    max-width: 1200px
    padding: 0 64px
    margin: 0 auto
    text-align: center
    border: 1px solid #00ff
    .index__get-started
        display: block
        width: fit-content
        padding: 10px
        margin-top: 25px
        background-color: $colorGrey
        color: $colorWhite75op
        text-decoration: none
